.productsPart1 {
    margin-top: 25px;
    margin-bottom: 20px;
}
.allProductsText {
    font-size: 20px;
}
.searchProductsWrapper .searchProducts {
    margin-bottom: 15px;
}
.productSearchSortWrapper {
    display: table;
    width: 100%;
}
.productSearchSortWrapper .searchProductsWrapper,
.productSearchSortWrapper .sortProductsWrapper {
    display: table-cell;
}
.productSearchSortWrapper .searchProductsWrapper {
    width: 70%;
    padding-right: 20px;
}
.productSearchSortWrapper .sortProductsWrapper {
    width: 30%;
}
.productsPart2 {
    margin-bottom: 20px;
}

/*.productContentWrapper:hover .productContentSubWrapper{
  border: 1px solid #e5e5e5;
}*/

.sliderSubWrapper .carousel .slide .legend {
    /* bottom: 40%; */
    background: rgba(0,0,0,0.7);
    text-align: left;
}

@media (max-width: 992px) {
}
@media (max-width: 767px) {
    
}
@media (max-width: 576px) {
    .productsPart1 {
        max-width: 320px;
        margin: 20px auto 20px auto;
    }
    .allProductsText {
        margin-bottom: 10px;
    }
    .productSearchSortWrapper .searchProductsWrapper,
    .productSearchSortWrapper .sortProductsWrapper {
        display: block;
        width: 100%;
    }
    .productSearchSortWrapper .searchProductsWrapper {
        padding-right: 0px;
    }
}
