.errorPageWrapper{
  background-color: #f1f1f1;
  height: 100vh;
  text-align: center;
  position:relative;
  display:flex;
  align-items:center;
}
.errorPageSubWrapper{
  margin:auto;
}
.errorPageContentWrapper h1 {
font-size: 150px;
font-weight: 700;
line-height: 110px;
margin: 0;
color: #4a9e84;
}
.errorPageContentWrapper h1 span {
color: #333333;
}
.errorPageHomePageBtnWrapper a{
color: #fff;
border: 1px solid #4a9e84;
background: #4a9e84;
border-radius: 2px;
display:inline-block;
text-decoration: none;
padding: 10px 32px;
font-weight: 600;
transition: .9s ease;
}
.errorPageHomePageBtnWrapper a:hover {
background: #FFF;
color: #4a9e84;
transition: .9s ease;
}
.errorPageSubContentWrapper h3{
color:#333333;
font-size: 1.75rem;
margin: 35px 0 15px;
}
.errorPageSubContentWrapper p{
color:#676767;
margin: 10px 0 20px;
}