.menuShareBtnWrapper a img {
    max-width: 30px;
}

.headerRowWrapper {
    margin-bottom: 8px;
}
.headerFullWidth {
    width: 100%;
}
.logoWrapper .navbar-brand {
    padding-top: 0px;
}

.logoWrapper span {
    margin-top: 30px;
}

.logoWrapper img {
    max-width: 70px;
}

.headerUlWrapper {
    margin-top: 22px;
}
.headerUlWrapper .nav-link {
    padding: 0px 0px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
}
.headerUlWrapper li {
    padding: 0.5rem 1.2rem;
}
.headerUlWrapper li a {
    font-size: 20px;
}

.headerIconWrapper {
    text-align: right;
}
.headerCartIcon i {
    font-size: 30px;
}
.menuBtnWrapper a {
    display: inline-block;
}
.menuBtnWrapper a img {
    max-width: 35px;
}

.headerSubWrapper .navbar-light .navbar-toggler {
    position: absolute;
    top: 15px;
    right: 22px;
    border: 1px solid #2cc5a0;
    border-radius: 2px;
    padding: 10px 10px;
}
.navBarToggler .icon-bar {
    background-color: #2cc5a0;
}
.navBarToggler .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navBarToggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navBarDesktopProductContentWrapper a {
    text-decoration: none;
    color: #212529;
}
.navBarDesktopProductContentWrapper {
    margin-bottom: 5px;
}

.navBarAllProductsDesktopRowWrapper ul {
    padding: 0;
    margin: 0;
}

.navBarAllProductsDesktopRowWrapper ul li {
    list-style: none;
}

@media (max-width: 992px) {
    .logoWrapper span {
        margin-top: 20px;
    }
}

/*--------Side Nav Bar ---------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    white-space: nowrap;
}

.sideMenuCrossWrapper {
    border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}
.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
    color: #4a9e84;
}
.sidenav .closebtn:hover {
    text-decoration: none;
}
.sideMenuSignInSecWrapper {
    display: table;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}
.sideMenuSignInSecWrapper span {
    display: table-cell;
    vertical-align: middle;
}
.sideMenuSignInSecWrapper span:nth-child(1) {
    width: 20%;
}
.sideMenuSignInSecWrapper span:nth-child(2) {
    width: 80%;
    padding-left: 10px;
}
.sideMenuSignInSecWrapper span:nth-child(1) img {
    max-width: 60px;
}
.sideMenuSignInSecWrapper span:nth-child(2) a {
    text-decoration: none;
    color: #676767;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.sideMenuWrapper ul {
    padding: 0;
    margin: 0;
}
.sideMenuWrapper ul li {
    list-style: none;
    margin-top: 5px;
    padding: 5px 20px;
}
.sideMenuWrapper ul li a {
    display: block;
    text-decoration: none;
    color: #676767;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.sidebarMenuBtnWrapper span {
    display: inline-block;
}
.sidebarMenuBtnWrapper span:nth-child(2) {
    margin-left: 20px;
}
.sidebarMenuBtnWrapper span a img {
    max-width: 35px;
}
.sidebarMenuBtnWrapper span:nth-child(2) a img {
    max-width: 28px;
}

.sideBarProductDpText span{
    margin-top: 4px;
}
.dropdown-content{
    display: none;
}
.small_show_product_dp{
    display: block;
}